body {
  background: linear-gradient(
    to right,
    #111,
    #333
  ); /* Sfondo con gradient scuro */
  color: #fff;
  font-family: "Arial", sans-serif;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: #e50914;
}

.movie-container {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.movie-title {
  color: #e50914; /* Rosso Netflix */
  margin-bottom: 10px;
}

.movie-info {
  color: #ccc;
  margin: 0.5rem 0;
}

.actor-list {
  list-style: none;
  padding: 0;
}

.actor-list li {
  margin-bottom: 5px;
}

/* Stile icone */
.fa {
  margin-right: 5px;
  color: #e50914;
}
