body {
  background: linear-gradient(to right, #000000, #808080);
  color: #ffffff;
  padding: 20px;
}

h1 {
  color: #ffffff;
}

.movie-container {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.movie-title {
  color: #ffffff;
}

.movie-info {
  color: #ffffff;
  margin: 1.5rem 0;
}

.actor-list {
  list-style: none;
  padding: 0;
}

.actor-list li {
  margin-bottom: 5px;
}
